# CodeOwners

## Default owners

* @pagopa/selfcare-admin

## Code owner for the applications

/apps/** @pagopa/selfcare-contributors
/libs/** @pagopa/selfcare-contributors
/test-coverage/** @pagopa/selfcare-contributors

.dockerignore @pagopa/selfcare-contributors
docker-compose.yml @pagopa/selfcare-contributors
*.xml @pagopa/selfcare-contributors
*.md @pagopa/selfcare-contributors
