name: Code Review Libs

on:
  pull_request:
    branches:
      - main
      - develop
    types:
      - opened
      - synchronize
      - reopened
    paths:
      - 'libs/**'
  
  workflow_dispatch:

jobs:

  code-review:
    runs-on: ubuntu-latest
    permissions:
      packages: read
      id-token: write
    steps:
      - name: Setup Maven Action
        uses: s4u/setup-maven-action@fa2c7e4517ed008b1f73e7e0195a9eecf5582cd4 # pin@v1.11.0
        with:
          checkout-fetch-depth: 0
          java-version: 17
          java-distribution: 'temurin'
          maven-version: '3.9.5'
          cache-enabled: true

      - name: Build and analyze on Pull Requests
        shell: bash
        run: mvn --projects :test-coverage --also-make verify -Ponboarding-sdk,report,coverage
          -Dsonar.organization=pagopa
          -Dsonar.projectKey=pagopa_selfcare-onboarding
          -Dsonar.token=${{ secrets.SONAR_TOKEN }}
          -Dsonar.pullrequest.key=${{ github.event.pull_request.number }}
          -Dsonar.pullrequest.branch=${{ github.head_ref }}
          -Dsonar.pullrequest.base=refs/remotes/origin/${{ github.base_ref }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
