name: Deploy

# Controls when the workflow will run
on:
  pull_request:
    branches:
      - main
    types: [ closed ]


  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      environment:
        required: true
        type: choice
        description: Select the Environment
        options:
          - dev
          - uat
          - prod

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  setup:
    name: Setup
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    outputs:
      environment: ${{ steps.get_env.outputs.environment }}

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: pull request rejected
        if: github.event_name == 'pull_request' && github.event.action == 'closed' && github.event.pull_request.merged != true
        run: |
          echo "âŒ PR was closed without a merge"
          exit 1

      # Set Environment
      - run: echo "ENVIRNOMENT=${{ inputs.environment}}" >> $GITHUB_ENV

      - if: ${{ inputs.environment == null }}
        run: echo "ENVIRNOMENT=dev" >> $GITHUB_ENV

      - id: get_env
        name: Set Output
        run: echo "environment=${{env.ENVIRNOMENT}}" >> $GITHUB_OUTPUT


  deploy:
    name: Build and deploy
    runs-on: ubuntu-latest
    needs: [setup]
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'temurin'

      - name: Build project with Maven
        run: mvn -B package --file onboarding-functions/pom.xml


    # - name: Deploy azure
    #  run: mvn -B quarkus:deploy --file onboarding-functions/pom.xml
    #  env:
    #    AZURE_SUBSCRIPTION_ID: ${{ secrets.SUBSCRIPTION_ID }}
    #    AZURE_RESOURCE_GROUP: ${{ secrets.FUNCTIONS_RESOURCE_GROUP }}
    #    AZURE_APP_REGION: ${{ secrets.APP_REGION }}
    #    AZURE_APP_INSIGHTS_KEY: ${{ secrets.APP_INSIGHTS_KEY }}

