name: Code Review onboarding-functions

on:
  workflow_dispatch:

  pull_request:
    branches:
      - main
      - ops/fix-code-review-function
    types:
      - opened
      - edited
      - synchronize
      - reopened
      - ready_for_review
    paths:
      - 'apps/onboarding-functions/**'
      - '.github/workflows/pr_functions.yml'
      - '.github/workflows/call_code_review.yml'

jobs:

  code_review:
    permissions:
      packages: read
    uses: ./.github/workflows/call_code_review.yml
    name: OnBoarding function Code Review
    secrets: inherit
    with:
      pr_number: ${{ github.event.pull_request.number }}
      source_branch: ${{ github.head_ref }}
      target_branch: ${{ github.base_ref }}
      sonar_key: 'pagopa_selfcare-onboarding'
      module: 'onboarding-ms'
