name: Code Review mongo infra

on:
  workflow_dispatch:

  pull_request:
    branches:
      - main
      - releases/*
    types:
      - opened
      - edited
      - synchronize
      - reopened
      - ready_for_review
    paths:
      - 'infra/mongo/**'
      - '.github/workflows/pr_mongo_infra.yml'
      - '.github/workflows/call_code_review_infra.yml'

jobs:
  code_review_dev:
    uses: ./.github/workflows/call_code_review_infra.yml
    name: '[DEV] Mongo Infra Code Review'
    if: github.ref_name == 'main'
    secrets: inherit
    with:
      environment: dev
      dir: ./infra/mongo

  code_review_uat:
    uses: ./.github/workflows/call_code_review_infra.yml
    name: '[UAT] Mongo Infra Code Review'
    if: github.ref_name == 'main' || startsWith(github.ref_name, 'releases/')
    secrets: inherit
    with:
      environment: uat
      dir: ./infra/mongo
