name: Release onboarding sdk

on:
  workflow_dispatch:


jobs:
  setup:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # pin@v3
        with:
          ref: ${{ github.ref_name }}

      - name: Set up JDK 17
        uses: actions/setup-java@0ab4596768b603586c0de567f2430c30f5b0d2b0 # pin@v3
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: maven

      - uses: s4u/maven-settings-action@60912582505985be4cc55d2b890eb32767f8de5f # pin@v2.8.0
        with:
          servers: '[{"id": "selfcare-github", "username": "${{ github.actor }}", "password": "${{ secrets.GITHUB_TOKEN }}"}]'

      - name: Build with Maven
        run: mvn --projects :onboarding-libs --also-make-dependents clean package -DskipTests
        shell: bash

      - name: Deploy to GitHub Package Registry
        run: |
          mvn -B deploy -f libs/pom.xml
        shell: bash
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
