name: Deploy mongo infra

on:
  push:
    branches:
      - main
      - releases/*
      - EC-101-pipeline-deployment-infra
    # paths:
    #   - './infra/mongo'

  workflow_dispatch:

jobs:

  release_dev:
    uses: ./.github/workflows/call_release_infra.yml
    name: '[Dev] Mongo Infra Release'
    # if: github.ref_name == 'main'
    secrets: inherit
    with:
      environment: dev
      dir: ./infra/mongo

  release_uat:
    uses: ./.github/workflows/call_release_infra.yml
    name: '[UAT] Mongo Infra Release'
    if: startsWith(github.ref_name, 'releases/')
    secrets: inherit
    with:
      environment: uat
      dir: ./infra/mongo

  release_prod:
    uses: ./.github/workflows/call_release_infra.yml
    name: '[Prod] Mongo Infra Release'
    if: startsWith(github.ref_name, 'releases/')
    secrets: inherit
    with:
      environment: prod
      dir: ./infra/mongo